accelerate==1.2.1
datasets==3.2.0
matplotlib
tqdm
scikit-learn
torch==2.3.1
torchvision==0.18.1
tqdm==4.67.1
transformers==4.45.2
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.3.0
xxhash==3.5.0
yarl==1.18.3
albumentations==1.4.24
seaborn==0.13.2
pre-commit